.input {
    display: inline-block;
    padding: 12px 12px;
    
    width: 100%;

    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 16px;

    border: 1px solid #d9d9d9;
    border-radius: 2px;

    transition-duration: 100ms;
    transition-timing-function: ease-out;
    transition-property: border-color, box-shadow;
}

.input:hover {
    border-color: #52c41a;
}

.input:focus {
    border-color: #52c41a;
    box-shadow: 0 0 0 2px #52c41a33;
}

.input:focus {
    outline: none;
}

.input[data-error="true"] {
    border-color:#f5222d;
    box-shadow: 0 0 0 2px #f5222d33;
}