.input {
    display: inline-block;
    padding: 12px 12px;
    
    width: 100%;

    margin-top: 24px;
    margin-bottom: 24px;

    font-size: 16px;

    border: 1px solid #d9d9d9;
    border-radius: 2px;

    transition: all 150ms ease-out;
}

.input:hover {
    border-color: #52c41a;
}

.input:focus {
    border-color: #52c41a;
    box-shadow: 0 0 0 2px #52c41a33;
}

.input:focus {
    outline: none;
}

.error .input {
    border-color:#f5222d;
    box-shadow: 0 0 0 2px #f5222d33;
}