{
    "extends": "airbnb",
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-bitwise": "off",
        "no-console": "off",
        "object-shorthand": "off",
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "arrow-body-style": "off",
        "no-extraneous-dependencies": "off",
        "class-methods-use-this": "off",
        "brace-style": [
            "error",
            "stroustrup"
        ],
        "space-before-function-paren": [
            "error",
            "always"
        ],
        "import/no-extraneous-dependencies": "off",
        "react/no-array-index-key": "off",
        "react/destructuring-assignment": "off",
        "react/prop-types": "off",
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "react/jsx-filename-extension": "off",
        "react/jsx-closing-bracket-location": [
            1,
            "after-props"
        ],
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-props-no-spreading": [
            "error",
            {
                "html": "ignore"
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./webpack/webpack.common.js"
            }
        }
    },
    "env": {
        "browser": true
    }
}