.form {
    margin-top: 24px;
    margin-bottom: 24px;
}

.description {
    margin-top: 16px;
    margin-bottom: 16px;
    
    font-size: 14px;
    text-align: center;

    color: #000000a6;
    transition: all 100ms ease-out;
}

.description:hover {
    color: #000000FF;
}

.operation {
    margin-right: 32px;
}
