.container {
    display: flex;
    justify-content: space-between;

    margin-top: 16px;
    margin-bottom: 16px;
    
    font-size: 14px;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 992px) {
    .group {
        flex-direction: column;
    }

    .group > * {
        margin-bottom: 8px;
    }
}