.operator {
    display: inline-flex;
    justify-content: center;
    
    margin: 0 4px;

    min-width: 28px;
    background-color: #52c41a;

    border: none;
    border-radius: 2px;
    
    color: #fff;
    font-weight: bold;
    line-height: 24px;

    cursor: pointer;
}

.operator:focus {
    box-shadow: 0 0 0 2px #53c71a80;
}

