* {
    box-sizing: border-box;
}

html {
    background: #fefefe;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;

    color: rgba(0, 0, 0, .87);
}

button:focus {
    outline: none;
}