* {
    box-sizing: border-box;
}

html {
    background: #fefefe;
}

body {
    margin: 0;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;

    color: rgba(0, 0, 0, .87);
}
